/* BASICS */
[data-bs-theme="light"]{
      --body-bg: #fff;
      --body-color: #000;
    }

[data-bs-theme="dark"]{
  --body-bg: #121212;
  --body-acc: #181818;
  --body-color: #fff;
}

body {
  background-color: var(--body-bg);
  color: var(--body-color);
  font-family: Roboto, Arial, sans-serif;
}

/* NAVBAR */
.custom-navbar {
        /*background-color: var(--body-bg);*/
        background-color: var(--body-acc);
    }

.separator {
    height: 1px;
    background-color: var(--body-color);
}

.my-logo {
        font-size: 25px;
        color: #fff;
        font-weight: bold;
        background: -webkit-linear-gradient(45deg, #ff0f7b, #f89b29);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

.material-icons {
        vertical-align:middle;
        padding-left: 8px;
}

